<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Tagesschrift&display=swap" rel="stylesheet" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="hero-section">
      <img src="https://images.pexels.com/photos/1995842/pexels-photo-1995842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
      <div class="caption">
        <h1 class="cinzel">Vader: Análisis de sentimientos</h1>
        <a href="sentiment_analyzer" class="btn-custom cinzel">Analizar Tweets</a>
      </div>
    </div>
  </body>
</html>