<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Etiquetas meta requeridas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <!-- Importación de fuente Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_analyzer.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap" rel="stylesheet" />

    <title>Inicio</title>
  </head>
  <body>
    <!-- Barra de navegación -->

    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card custom-card">
            <div class="card-body">
              <form method="post" action="sentiment_logic">
                <div class="mb-3">
                  <label class="form-label">Ingresa el término de búsqueda</label>
                  <input type="text" class="form-control" name="keyword" />
                </div>
                <div class="mb-3">
                  <label class="form-label">¿Cuántos tweets quieres analizar?</label>
                  <input type="number" class="form-control" name="tweets" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Ingresa el token bearer</label>
                  <input type="text" class="form-control" name="bear" />
                </div>
                <input type="submit" class="btn btn-primary custom-btn w-100" value="Buscar" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Separador -->
    <div class="divider container"></div>
    <div class="container">
      <!-- <a href="visualize" class="btn btn-primary custom-btn custom-btn-crimson d-block w-50 mx-auto mb-4">Generar gráfico</a> -->
      <div class="text-center">
        {% if polarity %}
          <h3 class="section-title">Esta es la reacción de los usuarios a: "{{ keyword }}" analizando "{{ tweets }}" tweets</h3>
        {% endif %}
      </div>
      <!-- Contenedor principal para reportes -->
      <div class="row justify-content-center">
        <div class="col-md-10">
          <!-- Reporte de sentimiento general -->
          {% if polarity %}
            <div class="mb-4">
              <h1 class="section-title text-center">Reporte general</h1>
              <div class="alert alert-primary custom-alert" role="alert">
                <h1 class="text-center">El sentimiento promedio es {{ htmlpolarity }}</h1>
              </div>
            </div>
          {% endif %}
          <!-- Fin del reporte general -->
          <!-- Inicio del valor de polaridad -->
          {% if polarity %}
            <div class="mb-4">
              <h1 class="section-title text-center">Polaridad del sentimiento</h1>
              <div class="alert alert-primary custom-alert" role="alert">
                <h1 class="text-center">La polaridad general del sentimiento es {{ polarity }}</h1>
              </div>
            </div>
          {% endif %}
          <!-- Fin del valor de polaridad -->
          <!-- Reporte detallado -->
          {% if polarity %}
            <div class="mb-4">
              <h1 class="section-title text-center">Reporte detallado</h1>
              <div class="alert alert-primary custom-alert">
                <h2 class="report-text">{{ positive }} % de los comentarios creen que es positivo</h2>
                <h2 class="report-text">{{ neutral }} % de los comentarios creen que es neutral</h2>
                <h2 class="report-text">{{ negative }} % de los comentarios creen que es negativo</h2>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Fin del reporte -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
